.git
.github
.env
.env.local
data
node_modules
**/node_modules
test
docs
*.log
.DS_Store
vendor/reader/*
!vendor/reader/build/
vendor/reader/build/*
!vendor/reader/build/web/
!vendor/reader/build/web/**
vendor/web-library/*
!vendor/web-library/build/
!vendor/web-library/build/**
